
header {
    font-family: "Noto Serif", serif;
}

header .logo {
    height: 50px;
    width: 50px;
    margin-right: 10px;
    border-radius: 8px;
}

.navbar {
    border-radius: 10px;
}

.container {
    max-width: 100%;
}

.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

.profilePic {
    width: 50px;
    height: 50px;
    border: 2px solid #808080;
    display: inline;
    border-radius: 50%;
    margin-right: 5px;
}