<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" routerLink="/"><img src="./assets/images/site/logo.png">HokmShelem</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                (click)="toggleCollapsed()">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
                
                <ul class="navbar-nav" *ngIf="(accountService.currentUser$ | async) === null" >
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/account/register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/account/login'>Login</a>
                    </li>
                </ul>
                <ul class="navbar-nav" >
                    <li class="nav-item dropdown">
                        <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
                            <a class="dropdown-toggle text-light" dropdownToggle>Welcome {{user.username | titlecase}}</a>
                            <div class="dropdown-menu mt-3" *dropdownMenu>
                                <a routerLink="/user-profile" class="dropdown-item">Edit Profile</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" (click)="logout(user.username)">Logout</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav flex-grow-1">
                    <ng-container *ngIf="accountService.currentUser$ | async">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/lobby">Play Online</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/members">Members</a>
                        </li>
                    </ng-container>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/errors">Errors</a>
                    </li>
                </ul>                
            </div>
        </div>
    </nav>
</header>