/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,700&display=swap");


.wrapper {
    max-width: 90%;
    margin: auto;
}


.primary-btn {
    padding: 0.7rem 1rem;
    height: 2.7rem;
    display: block;
    border: 0;
    border-radius: 5px;
    font-weight: 500;
    background: #f96816;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s;
}

.primary-btn:hover {
    background-color: #ffa264;
}

.fontFormat {
    font-family: "Noto Serif", serif;
}



/* tab-set */
.tab-panel {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
}

.nav-tabs>li.open, .member-tabset>.nav-tabs>li:hover {
    border-bottom: 4px solid #fbcdcf;
}

.member-tabset>.nav-tabs>li.open>a, .member-tabset>.nav-tabs>li:hover>a {
    border: 0;
    background: none !important;
}

.member-tabset>.nav-tabs>li.open>a>i, .member-tabset>.nav-tabs>li:hover>a>i {
    color: #a6a6a6;
}

.member-tabset>.nav-tabs>li.open .dropdown-menu, .member-tabset>.nav-tabs>li:hover .dropdown-menu {
    margin-top: 0px;
}

.member-tabset>.nav-tabs>li.active {
    border-bottom: 4px solid #E95420;
    position: relative;
}

.member-tabset>.nav-tabs>li.active>a {
    border: 0 !important;
}

.member-tabset>.nav-tabs>li.active>a>i {
    color: #404040;
}

.member-tabset>.tab-content {
    margin-top: -3px;
    border: 0;
    padding: 15px 0;
}