<!-- <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6">
        col-md-3
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6" >
        col-md-3
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6" style="background-color:blue; border:1px solid">
        col-md-3
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6" style="background-color:blue; border:1px solid">
        {{playerResults.hokmScore}}
    </div>
</div> -->
<div class="row text-center mt-3">
    <div class="col">
        <img src="./assets/images/badges/{{playerResults.badge | lowercase}}.png">
    </div>
</div>

<div class="row text-center fontSize mt-5">
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <div class="p-3 text-muted">Hokm score</div>
            <div class="p-3">{{playerResults.hokmScore}}</div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <div class="p-3 text-muted">Shelem score</div>
            <div class="p-3">{{playerResults.hokmScore}}</div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <div class="p-3 text-muted">Games won</div>
            <div class="p-3">{{playerResults.gamesWon}}</div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <div class="p-3 text-muted">Games lost</div>
            <div class="p-3">{{playerResults.gamesLost}}</div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <div class="p-3 text-muted"><strong>Games left</strong></div>
            <div class="p-3">{{playerResults.gamesLeft}}</div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="d-flex flex-column">
            <div class="p-3 text-muted">Tournoments won</div>
            <div class="p-3">{{playerResults.tournomenstWon}}</div>
        </div>
    </div>
</div>