<footer class="mt-5 border-top border-primary">
    <div class="wrapper text-center">
        <a class="text-muted" href="#">About | </a>
        <a class="text-muted" href="#">Team | </a>
        <a class="text-muted" href="#">Jobs | </a>
        <a class="text-muted" href="#">Policy | </a>
        <a class="text-muted" href="#">User Agreement</a>
    </div>
    <div class="wrapper mt-2 text-center">
        <h6>Copyright &copy; {{currentYear}}<a class="text-warning" href="#">&nbsp;HokmShelem.com</a></h6>
    </div>
</footer>