<div class="wrapper">
    <div class="homePage">
        <div>
            <img src="" style="width:100%; border-radius:10px;" alt="HokmPlay">
        </div>
        <div>
            <div>
                <div>
                    <p class="text-center">Play Persian Card Games for <span style="color:#cf3723">FREE</span><br /><span style="font-size:1rem;">Absolute <span style="color:#cf3723">Ad-free</span> site</span></p>
                </div>
                <div>
                    <div class="text-center">
                        <p class="pt-2"><i class="fas fa-users"></i>&nbsp;<span class="counter">0</span> Online users</p>
                        <p><img src="" /><i class="fas fa-gamepad"></i>&nbsp;<span class="counter">0</span> Games Today</p>
                    </div>
                </div>
            </div>
            <div>
                <a class="btn btn-primary form-control">Play Online</a>
            </div>
        </div>
    </div>
</div>