<div class="container">
    <div class="row text-center fontFormat pt-4">
        <h4 class="text-success" style="margin:auto">Join <span class="text-danger">NOW</span> to play for <span
                class="text-danger">FREE</span> and have fun!</h4>
    </div>
    <div class="login">
        <form [formGroup]='registerForm' (ngSubmit)="registerForm.valid && register()">
            <app-text-input [formControl]='registerForm.controls["name"]' [label]='"Name"'
                [extraInformation]='"Name should contains only letters and or numbers"'></app-text-input>
            <app-text-input [formControl]='registerForm.controls["username"]' [label]='"Email"' [type]='"email"'>
            </app-text-input>
            <app-text-input [formControl]='registerForm.controls["password"]' [type]='"password"' [label]='"Password"'>
            </app-text-input>
            <app-text-input [formControl]='registerForm.controls["confrimPassword"]' [type]='"password"'
                [label]='"Confirm Password"'></app-text-input>
            <!-- <app-date-input [formControl]='registerForm.controls["dateOfBirth"]' [label]='"Date of Birth"'></app-date-input> -->
            <div class="form-group">
                <label class="text-light">Select Country</label>
                <select class="form-control" formControlName='country'>
                    <option *ngFor="let country of countries">
                        {{country}}
                    </option>
                </select>
            </div>
            <div class="row" *ngIf="validationErrors.length > 0">
                <ul class="text-danger">
                    <li *ngFor="let error of validationErrors">
                        {{error}}
                    </li>
                </ul>
            </div>
            <div class="form-group">
                <button  [disabled]='!registerForm.valid' type="submit" class="btn btn-warning btn-block">Create FREE account</button>
            </div>
        </form>
        <div class="or">
            <hr class="bar" />
            <span>OR sign up using</span>
            <hr class="bar" />
        </div>

        <form>
            <div class="row mt-3">
                <button type="submit" class="btn btn-outline-info col-6">
                    <i class="fab fa-google">&nbsp;Google</i>
                </button>
                <button type="submit" class="btn btn-outline-info col-6">
                    <i class="fab fa-facebook"></i> Facebook
                </button>
            </div>
        </form>
    </div>
</div>