.login {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding-bottom: 1rem;
    margin-top: 30px;
    font-family: "Noto Serif", serif;
}

.login form {
    width: 80%;
    text-align: center;
}

.or {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.or .bar {
    flex: auto;
    border: none;
    height: 1px;
    background: #aaa;
}

.or span {
    color: #ccc;
    padding: 0 0.8rem;
}


@media(max-width: 750px) {
    .login {
        width: 90%;
    }
}