<div class="container">
    <div class="login mt-5">
        <form [formGroup]='loginForm' (ngSubmit)=" login()">
            <app-text-input [formControl]='loginForm.controls["username"]' [label]='"Email"' [type]='"email"'>
            </app-text-input>
            <app-text-input [formControl]='loginForm.controls["password"]' [type]='"password"' [label]='"Password"'>
            </app-text-input>
            <div class="form-group">
                <input type="checkbox" />&nbsp;
                <label>Remember me</label>
            </div>
            <div class="row" *ngIf="validationErrors.length > 0">
                <ul class="text-danger">
                    <li *ngFor="let error of validationErrors">
                        {{error}}
                    </li>
                </ul>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-warning btn-block">Sign In</button>
            </div>
        </form>
        <div class="row text-center text-white-50">
            Sign in with
        </div>
        <form id="external-account" method="post" class="">
            <div class="row mt-3">
                <button type="submit" class="btn btn-outline-info col-6">
                    <i class="fab fa-google">&nbsp;Google</i>
                </button>
                <button type="submit" class="btn btn-outline-info col-6">
                    <i class="fab fa-facebook"></i> Facebook
                </button>
            </div>
        </form>
        <div class="links">
            <a id="forgot-password" href="#">Forgot your password?</a>
        </div>
        <div class="or">
            <hr class="bar" />
            <span>OR</span>
            <hr class="bar" />
        </div>
        <a class="secondary-btn" href="#">Create an account</a>
    </div>
</div>