<div class="wrapper" *ngIf="member">
    <div class="row">
        <div class="col-lg-4 col-sm-12">
            <div class="card">
                <img src="{{member.photoUrl || './assets/user.png'}}" class="card-img-top img-thumbnail"
                    alt="{{member.name}}">
                <div class="card-body">
                    <div class="text-center">
                        <h2>
                            <app-player-name [playerName]="member.name"></app-player-name>
                        </h2>
                    </div>
                    <div class="row mt-2">
                        <div class="col-6">
                            <strong class="text-muted">Status:</strong>
                        </div>
                        <div class="col-6">
                            <p [ngClass]="{'text-success': playerIsOnline, 'text-muted': !playerIsOnline}"
                                style="font-size: 1.5rem; font-weight: bold;">{{member.status}}</p>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-6">
                            <strong class="text-muted">Member since:</strong>
                        </div>
                        <div class="col-6">
                            {{member.created | date: 'dd MMM yyyy'}}
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-6">
                            <strong class="text-muted">Last Active:</strong>
                        </div>
                        <div class="col-6">
                            {{member.lastActive | timeago}}
                        </div>
                    </div>
                    <div class="row mt-2 mb-2">
                        <div class="col-6">
                            <strong class="text-muted">Country</strong>
                        </div>
                        <div class="col-6">
                            <app-country-image [countryName]="member.country"></app-country-image>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="btn-group d-flex">
                        <button class="btn btn-primary" style="width: 50%;"><i class="fas fa-user-plus"></i> Add
                            friend</button>
                        <button class="btn btn-success ml-2" style="width: 50%;"><i class="fas fa-comments-dollar"></i>
                            Message</button>
                    </div>
                    <div class="btn-group d-flex mt-2">
                        <button class="btn btn-warning" style="width: 50%;"><i class="fas fa-flag"></i> Report</button>
                        <button class="btn btn-danger ml-2" style="width: 50%;"><i class="fas fa-ban"></i>
                            Block</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="second col-lg-8 col-sm-12">
            <tabset class="member-tabset">
                <tab heading='Scores'>
                    <app-member-scores [playerResults]="member"></app-member-scores>
                </tab>
                <tab heading='About {{member.name}}'>
                    <div class="wrapper">
                        <p class="pt-3">{{member.aboutMe}}</p>
                    </div>
                </tab>
                <tab heading='Photos'>
                    <app-photo-gallery [photos]="member.photos"></app-photo-gallery>
                </tab>
                <tab heading='Friends'>
                    <p>Firends</p>
                </tab>
            </tabset>
        </div>
    </div>
</div>