.img-thumbnail {
    margin: 25px;
    width: 85%;
    height: 85%;
}

.card-body{
    padding: 0 25px;
}

.card-footer {
    padding: 10px 15px;
    border-top: none;
}


@media (max-width: 992px) {
    
    .second {
        /* display: none; */
        margin-top: 2rem;
    }
}