<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6" style="background-color:blue; border:1px solid">
        col-md-3
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6" style="background-color:blue; border:1px solid">
        col-md-3
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6" style="background-color:blue; border:1px solid">
        col-md-3
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6" style="background-color:blue; border:1px solid">
        col-md-3
    </div>
</div>