<div class="wrapper" *ngIf="member">
    <div class="row">
        <div class="col-lg-4 col-sm-12">
            <div class="card">
                <img src="{{member.photoUrl || './assets/images/site/user.png'}}" class="card-img-top img-thumbnail"
                    alt="{{member.name}}">
                <div class="card-body">
                    <div class="text-center">
                        <h2>
                            <app-player-name [playerName]="member.name"></app-player-name>
                        </h2>
                    </div>
                    <div class="row mt-2">
                        <div class="col-6">
                            <strong class="text-muted">Status:</strong>
                        </div>
                        <div class="col-6">
                            <p [ngClass]="{'text-success': playerIsOnline, 'text-muted': !playerIsOnline}"
                                style="font-size: 1.5rem; font-weight: bold;">{{member.status}}</p>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-6">
                            <strong class="text-muted">Member since:</strong>
                        </div>
                        <div class="col-6">
                            {{member.created}}
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-6">
                            <strong class="text-muted">Last Active:</strong>
                        </div>
                        <div class="col-6">
                            {{member.lastActive}}
                        </div>
                    </div>
                    <div class="row mt-2 mb-2">
                        <div class="col-6">
                            <strong class="text-muted">Country</strong>
                        </div>
                        <div class="col-6">
                            <app-country-image [countryName]="member.country"></app-country-image>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="btn-group d-flex">
                        <button class="btn btn-outline-info btn-block" routerLink="/user-profile/edit"><i class="fas fa-edit"></i> Edit profile</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="second col-lg-8 col-sm-12">
            <tabset class="member-tabset">
                <tab heading='Scores'>
                    <app-member-scores [playerResults]="member"></app-member-scores>
                </tab>
                <tab heading='About me'>
                    <div class="wrapper">
                        <p class="pt-3">{{member.aboutMe}}</p>
                    </div>
                </tab>
                <tab heading='Photos'>
                    <ng-container *ngIf="!photoEditMode">
                        <div class="row">
                            <div class="col-4">
                                <button (click)="photoEditToggle()" class="btn btn-outline-info"><i class="far fa-edit"></i> Edit photos</button>
                            </div>
                        </div>
                        <app-photo-gallery [photos]="member.photos"></app-photo-gallery>
                    </ng-container>

                    <ng-container *ngIf="photoEditMode">
                        <div class="row">
                            <div class="col-4">
                                <button (click)="photoEditToggle()" class="btn btn-outline-info"><i class="fas fa-window-close mr-2"></i> Cancel</button>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <app-photo-edit [member]="member"></app-photo-edit>
                            </div>
                        </div>
                    </ng-container>
                   
                </tab>
                <tab heading='Friends'>
                    <p>Firends</p>
                </tab>
            </tabset>
        </div>
    </div>
</div>